<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBAz7QxAA8aBX96T1cH-wkVLik_sJpZGCs</string>
	<key>GCM_SENDER_ID</key>
	<string>524180079517</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.brainWave2</string>
	<key>PROJECT_ID</key>
	<string>brain-wave-e0b54</string>
	<key>STORAGE_BUCKET</key>
	<string>brain-wave-e0b54.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:524180079517:ios:1f71f9c9166d50c7fce574</string>
</dict>
</plist>